# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_HOST=minio
MINIO_PORT=9090
MINIO_ENDPOINT=http://minio:9090
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=glue-analysis

# Services
API_GATEWAY_PORT=3030
IMAGE_PROCESSOR_PORT=8080
IMAGE_PROCESSOR_URL=http://image-processor:8080
